/* Global Styling  */
:root {
   --headerColor: rgb(199, 156, 197);
   --buttonColor:  rgb(163, 212, 235);
}

body {
   font-family: 'Courier New', Courier, monospace;
   word-break: break-word;
}

h1 {
   color: var(--headerColor);
   margin: 1em;
}

h2 {
   color: var(--headerColor);
   margin: 1em;
}

ul {
   list-style: none;
}

li {
   margin: 1em;
}

button {
   margin: 2em;
   background-color: var(--buttonColor);
   min-width: 10em;
   border-radius: 4px;
   height: 3em;
   border-radius: 5px;
   box-sizing: border-box;
}

textarea {
   font-size: 1rem;
   font-family: inherit;
   border: none;
   width: 100%;
   padding: 0.9em 1.5em;
   box-sizing: content-box;
}

.inputField {
   margin: 3em;
}

.books {
   cursor: pointer;
}

.flex {
   display: flex;
   width: 70%;

}
