/* BookSearch private styles */
.search-result li {
   border-bottom: 1px solid gray;
   border-left: 1px solid gray;
   border-right: 1px solid gray;
   width: 15em;
   padding: 5px;
   background-color: white;
   cursor: pointer;
   list-style-type: none;
   box-sizing: content-box;
 }
 
 .search-result li:hover {
   background-color: rgb(163, 235, 163);
 }
 
 .search-result li a {
   color: #888;
   display: block;
   text-decoration: none;
 }
 
 .search-result li a:hover {
   color: white;
 }
 .search-result li a:active {
   color: white;
 }
 #search-box {
   width: 20em;
   height: 2em;
 }

 #search-component {
   margin-left: 3em;
 }
 
 ul.search-result {
   margin-top: 0;
   padding-left: 0;
 }